@import "~ag-grid/dist/styles/ag-grid.css";
@import "~ag-grid/dist/styles/ag-theme-balham.css";

.strategy-table {
    height: calc(50vh - 60px);
    width: 1000px;
    margin: auto;
    padding: 25px 0 10px 0;
}

.strategy-create-form {
    width: 1000px;
    padding-bottom: 10px;
    margin: auto;
    border-bottom: 1px solid lightgrey;
}

.strategy-create-form td {
    padding-right:10px;
}