@import "~ag-grid/dist/styles/ag-grid.css";
@import "~ag-grid/dist/styles/ag-theme-balham.css";

.strategy-table {
    height: calc(40vh - 70px);
    width: 60vw;
    margin: auto;
}

.strategy-create-form {
    width: 60vw;
    padding: 10px 0 0px 0;
    margin: auto;
}

.strategy-create-form td {
    padding-right:10px;
}