<table class="table is-striped">
  <thead>
    <tr>
      <th title="Strategy Name">Strategy</th>
      <th title="Stock Volume">Volume</th>
      <th title="Exit Rule (Profit)">Profit Exit Rule</th>
      <th title="Exit Rule (Loss)">Loss Exit Rule</th>
      <th title="Standard Deviation Buy/Sell Rule">Std Dev Rule</th>
      <th title="Moving Average Time Interval">Timespan</th>
      <th title="Running">Running</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let strategy of strategies">
      <td>{{ strategy.strategyName }}</td>
      <td>{{ strategy.startingVol }}</td>
      <td>{{ strategy.exitProfitPercent }}</td>
      <td>{{ strategy.exitLossPercent }}</td>
      <td>{{ strategy.stdDevs }}</td>
      <td>{{ strategy.shortTime }}</td>
      <td>{{ strategy.isRunning }}</td>
    </tr>
    
      
  </tbody>
</table>